[toolchain]
package_manager = "yarn"

[features]
resolution = true
skip-lint = false

[programs.localnet]
solBrawl = "EyMxoUu8So5nRVsAewjuWDZM16wVHJEKAzLSHs8kuEr9"

[programs.devnet]
solBrawl = "EyMxoUu8So5nRVsAewjuWDZM16wVHJEKAzLSHs8kuEr9"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "devnet"
wallet = "~/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 \"tests/**/*.ts\""
